body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; 
}  
  /* .home{
    background-image: url(./imgs/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: ;
  } */

  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: calc(50% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  #addbtn {
    background-color: #7d2ae8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #addbtn:hover {
    background-color: #8155ba;
  }
  
  #itemList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
  }
  
  button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.updateBtn {
    background-color: #ffc107;
    color: black;
  }
  
  button:hover {
    background-color: #c82333;
  }
  
  button.updateBtn:hover {
    background-color: #e0a800;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }
  
    input[type="text"] {
        width: 100%;
        margin-bottom: 5px;
    }
  
    #addbtn {
        width: 100%;
    }
  }
  #logoutbtn {
    background-color: #f44336; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
}
#logoutbtn:hover{
    background-color: #de4c42;  
}